<a href="https://colab.research.google.com/github/sudipbhakat07/data-science/blob/main/LGM_VIP_Data_Science_Internship_Programme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LGM-VIP Data Science Internship Programme
manish
BEGINNER LEVEL TASK-02

Name-Stock Market Prediction And Forecasting Using Stacked LSTM

Language-Python

Software-Google Colab

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
import math
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/mwitiderrick/stockprice/master/NSE-TATAGLOBAL.csv")

In [ ]:
data.head()

         Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  2018-09-28  234.05  235.95  ...  233.75               3069914          7162.35
1  2018-09-27  234.55  236.80  ...  233.25               5082859         11859.95
2  2018-09-26  240.00  240.00  ...  234.25               2240909          5248.60
3  2018-09-25  233.30  236.75  ...  236.10               2349368          5503.90
4  2018-09-24  233.55  239.20  ...  233.30               3423509          7999.55

[5 rows x 8 columns]